
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    background-image:linear-gradient(to right, yellow, rgb(0, 194, 10));
}

.container {
    height: 650px;
    width: 450px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: black;
    padding: 20px;
}

.output {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px;
    height: 100px;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    /* text-overflow: ellipsis;
    overflow: hidden; */

}

.keys {
    padding-top: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(4, 100px);
    min-height: 80px;
}

button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: turquoise;
}

.span-2 {
    grid-column: span 2;
}

button:hover {
    background-color: rgb(199, 255, 249);
}

.current-operand {
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;

}